<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="H2Stats.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="H2Stats.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="H2Stats.Properties.Settings.h2statsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Projects\h2stats\h2stats.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <applicationSettings>
        <H2Stats.Properties.Settings>
            <setting name="StatsBaseUrl" serializeAs="String">
                <value>http://www.bungie.net/Stats/PlayerStats.aspx?player=</value>
            </setting>
            <setting name="H2WikiBaseUrl" serializeAs="String">
                <value>http://h2.halowiki.net/p/</value>
            </setting>
        </H2Stats.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <H2Stats.Properties.Settings>
            <setting name="DownloadFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DownloadFormSize" serializeAs="String">
                <value>266, 421</value>
            </setting>
            <setting name="LastViewedGamertag" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadAll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatNameColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="StatTotalColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TotalFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="StatAverageColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="StatMinColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="StatMaxColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="StatStdDevColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MedalIconColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MedalNameColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MedalTotalColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MedalAvgColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MedalMinColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MedalMaxColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MedalStdDevColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TotalBytesDL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GamesDL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastUsedGameViewer" serializeAs="String">
                <value />
            </setting>
        </H2Stats.Properties.Settings>
    </userSettings>
</configuration>