<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="H2Stats.Downloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="H2Stats.Download.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="H2Stats.Downloader.Properties.Settings.h2statsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Documents and Settings\Matt\My Documents\CSharp\h2stats.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <applicationSettings>
        <H2Stats.Downloader.Properties.Settings>
            <setting name="OverviewBaseURL" serializeAs="String">
                <value>http://www.bungie.net/Stats/PlayerStats.aspx?player=</value>
            </setting>
            <setting name="GameListBaseURL" serializeAs="String">
                <value>http://www.bungie.net/Stats/PlayerGameList.aspx?player=</value>
            </setting>
            <setting name="GameListPageURL" serializeAs="String">
                <value>http://www.bungie.net/Stats/PlayerGameList.aspx?player={0}&amp;page={1}</value>
            </setting>
            <setting name="FindValidGamesRegex" serializeAs="String">
                <value>&lt;a id="RecentGames_ctl[0-9]*_GameLink" class="span" href="\/Stats\/GameStats.aspx\?gameID=[0-9]*&amp;amp;player=</value>
            </setting>
            <setting name="MainStatsPageURL" serializeAs="String">
                <value>http://www.bungie.net/Stats/GameStats.aspx?gameID=</value>
            </setting>
            <setting name="KillsStatsPageURL" serializeAs="String">
                <value>http://www.bungie.net/Stats/GameStats.aspx?panel=kills&amp;gameid=</value>
            </setting>
            <setting name="PvPStatsPageURL" serializeAs="String">
                <value>http://www.bungie.net/Stats/GameStats.aspx?panel=vs&amp;gameid=</value>
            </setting>
            <setting name="HitsStatsPageURL" serializeAs="String">
                <value>http://www.bungie.net/Stats/GameStats.aspx?panel=hits&amp;gameid=</value>
            </setting>
            <setting name="MedalsStatsPageURL" serializeAs="String">
                <value>http://www.bungie.net/Stats/GameStats.aspx?panel=medals&amp;gameid=</value>
            </setting>
            <setting name="GamePurgedMessage" serializeAs="String">
                <value>We’re sorry, this game has been partially purged.</value>
            </setting>
            <setting name="StatsPageUrls" serializeAs="String">
                <value>http://www.bungie.net/Stats/GameStats.aspx?panel={0}&amp;gameid={1}</value>
            </setting>
            <setting name="FindMapRegex" serializeAs="String">
                <value>&lt;h4 class="Header"&gt;(.*?)&lt;\/h4&gt;</value>
            </setting>
            <setting name="FindMatchTypeRegex" serializeAs="String">
                <value>&lt;span class="HeaderSub"&gt;(.*?)&lt;\/span&gt;</value>
            </setting>
            <setting name="FindPlaylistDateLength" serializeAs="String">
                <value>&lt;span class="HeaderInfo"&gt;(.*?)&lt;\/span&gt;[&lt;BR&gt;|&lt;br&gt;]</value>
            </setting>
            <setting name="BungieTimeOffset" serializeAs="String">
                <value>07:00:00</value>
            </setting>
            <setting name="GameLengthBeginningIndex" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="FindStat1NameRegex" serializeAs="String">
                <value>PlayerStat1Hdr" align="center"&gt;&lt;img .*?="/images/spacer.gif" width="100" height="1" border="0" alt=""&gt;&lt;br&gt;&lt;h4&gt;(.*?)&lt;\/h4&gt;&lt;\/td&gt;</value>
            </setting>
            <setting name="TeamScoreHeaderCode" serializeAs="String">
                <value>&lt;td&gt;&lt;img SRC="/images/spacer.gif" width="190" height="1" border="0" alt=""&gt;&lt;br&gt;&lt;h4&gt;Team&lt;/h4&gt;&lt;/td&gt;</value>
            </setting>
            <setting name="FindStat2NameRegex" serializeAs="String">
                <value>PlayerStat2Hdr" align="center"&gt;&lt;img .*?="/images/spacer.gif" width="90" height="1" border="0" alt=""&gt;&lt;br&gt;&lt;h4&gt;(.*?)&lt;\/h4&gt;&lt;\/td&gt;</value>
            </setting>
            <setting name="FindGamertagsRegex" serializeAs="String">
                <value>&lt;a id="PlayerListCtrl_pldStats_rpPlayerList_ctl.*?_GamertagLink" class="ContentText".*?&gt;(.*?)&lt;\/a&gt;&lt;</value>
            </setting>
            <setting name="FindStat1ValueRegex" serializeAs="String">
                <value>&lt;td id="PlayerListCtrl_pldStats_rpPlayerList_ctl{0:00}_tdStat1" align="center" bgcolor="[abcdef0-9]*"&gt;&lt;span class="ContentText"&gt;(.*?)&lt;\/span&gt;&lt;\/td&gt;</value>
            </setting>
            <setting name="DateTimeFormat" serializeAs="String">
                <value>MM/d/yyyy h:m tt</value>
            </setting>
            <setting name="TimeFormat" serializeAs="String">
                <value>hh:mm:ss</value>
            </setting>
            <setting name="FindScoreValueRegex" serializeAs="String">
                <value>&lt;td id="PlayerListCtrl_pldStats_rpPlayerList_ctl{0:00}_tdScore" bgcolor="[abcdef0-9]*"&gt;
				&lt;table cellpadding="0" cellspacing="0" border="0" width="55" height="20px"&gt;
				&lt;tr&gt;
					&lt;td align="center"&gt;&lt;span class="ContentText"&gt;(.*?)&lt;/span&gt;&lt;/td&gt;</value>
            </setting>
            <setting name="FindStat2ValueRegex" serializeAs="String">
                <value>&lt;td id="PlayerListCtrl_pldStats_rpPlayerList_ctl{0:00}_tdStat2" align="center" bgcolor="[abcdef0-9]*"&gt;&lt;span class="ContentText"&gt;(.*?)&lt;/span&gt;&lt;/td&gt;</value>
            </setting>
            <setting name="FindColorRegex" serializeAs="String">
                <value>&lt;td id="PlayerListCtrl_pldStats_rpPlayerList_ctl{0:00}_tdStat1" align="center" bgcolor="(.*?)"&gt;</value>
            </setting>
            <setting name="FindKillsRegex" serializeAs="String">
                <value>&lt;td id="PlayerListCtrl_pldKills_rpPlayerList_ctl{0:00}_tdKills" align="center" bgcolor="[abcdef0-9]*"&gt;&lt;span class="ContentText"&gt;(.*?)&lt;/span&gt;&lt;/td&gt;</value>
            </setting>
            <setting name="FindAssistsRegex" serializeAs="String">
                <value>&lt;td id="PlayerListCtrl_pldKills_rpPlayerList_ctl{0:00}_tdAssists" align="center" bgcolor="[abcdef0-9]*"&gt;&lt;span class="ContentText"&gt;(.*?)&lt;/span&gt;&lt;/td&gt;</value>
            </setting>
            <setting name="FindDeathsRegex" serializeAs="String">
                <value>&lt;td id="PlayerListCtrl_pldKills_rpPlayerList_ctl{0:00}_tdDeaths" align="center" bgcolor="[abcdef0-9]*"&gt;&lt;span class="ContentText"&gt;(.*?)&lt;/span&gt;&lt;/td&gt;</value>
            </setting>
            <setting name="FindSuicidesRegex" serializeAs="String">
                <value>&lt;td id="PlayerListCtrl_pldKills_rpPlayerList_ctl{0:00}_tdSuicides" bgcolor="[abcdef0-9]*"&gt;
				&lt;table cellpadding="0" cellspacing="0" border="0" width="65" height="20px"&gt;
				&lt;tr&gt;
					&lt;td align="center"&gt;&lt;span class="ContentText"&gt;(.*?)&lt;/span&gt;&lt;/td&gt;</value>
            </setting>
            <setting name="FindMostKilledByRegex" serializeAs="String">
                <value>&lt;td id="PlayerListCtrl_pldVs_rpPlayerList_ctl{0:00}_tdReaper" align="center" bgcolor="[abcdef0-9]*"&gt;&lt;span class="ContentText"&gt;(.*?)&lt;/span&gt;&lt;/td&gt;</value>
            </setting>
            <setting name="FindMostKilledRegex" serializeAs="String">
                <value>&lt;td id="PlayerListCtrl_pldVs_rpPlayerList_ctl{0:00}_tdFodder" align="center" bgcolor="[abcdef0-9]*"&gt;&lt;span class="ContentText"&gt;(.*?)&lt;/span&gt;&lt;/td&gt;</value>
            </setting>
            <setting name="FindShotsHitRegex" serializeAs="String">
                <value>&lt;td id="PlayerListCtrl_pldHits_rpPlayerList_ctl{0:00}_tdHits" align="center" bgcolor="[abcdef0-9]*"&gt;&lt;span class="ContentText"&gt;(.*?)&lt;/span&gt;&lt;/td&gt;</value>
            </setting>
            <setting name="FindShotsFiredRegex" serializeAs="String">
                <value>&lt;td id="PlayerListCtrl_pldHits_rpPlayerList_ctl{0:00}_tdFired" align="center" bgcolor="[abcdef0-9]*"&gt;&lt;span class="ContentText"&gt;(.*?)&lt;/span&gt;&lt;/td&gt;</value>
            </setting>
            <setting name="FindAccuracyRegex" serializeAs="String">
                <value>&lt;td id="PlayerListCtrl_pldHits_rpPlayerList_ctl{0:00}_tdAccuracy" align="center" bgcolor="[abcdef0-9]*"&gt;&lt;span class="ContentText"&gt;(.*?)&lt;/span&gt;&lt;/td&gt;</value>
            </setting>
            <setting name="FindHeadshotsRegex" serializeAs="String">
                <value>&lt;td id="PlayerListCtrl_pldHits_rpPlayerList_ctl{0:00}_tdHeadShots" align="center" bgcolor="[abcdef0-9]*"&gt;
				&lt;table cellpadding="0" cellspacing="0" border="0" width="55" height="20px"&gt;
				&lt;tr&gt;
					&lt;td align="center"&gt;&lt;span class="ContentText"&gt;(.*?)&lt;/span&gt;&lt;/td&gt;</value>
            </setting>
            <setting name="FindTotalMedalsRegex" serializeAs="String">
                <value>&lt;td id="PlayerListCtrl_rpPlayerList_ctl{0:00}_tdMedalAmt" align="center" bgcolor="[abcdef0-9]*"&gt;&lt;span class="ContentText"&gt;(.*?)&lt;\/span&gt;&lt;\/td&gt;</value>
            </setting>
            <setting name="FindAllMedalValuesRegex" serializeAs="String">
                <value>&lt;td valign="center" width="15" align="right"&gt;&lt;span class="ContentText"&gt;(.*?)&lt;\/span&gt;</value>
            </setting>
            <setting name="FindAllMedalNamesRegex" serializeAs="String">
                <value>&lt;td&gt;&lt;a href="#" title="(.*?) -</value>
            </setting>
            <setting name="FindMedalCountRegex" serializeAs="String">
                <value>&lt;td id="PlayerListCtrl_pldMedals_rpPlayerList_ctl{0:00}_tdMedalAmt" align="center" bgcolor="[abcdef0-9]*"&gt;&lt;span class="ContentText"&gt;(.*?)&lt;/span&gt;&lt;/td&gt;</value>
            </setting>
            <setting name="FindIconUrlRegex" serializeAs="String">
                <value>&lt;img id="StatsHeadControl_EmblemCtrl_imgEmblem" src="(.*?)"</value>
            </setting>
            <setting name="FindAllPlaylistNamesRegex" serializeAs="String">
                <value>&lt;span id="dlHopperRanks_ctl[0-9]*_HopperName"&gt;(.*?)&lt;\/span&gt;</value>
            </setting>
            <setting name="FindAllPlaylistRanksRegex" serializeAs="String">
                <value>&lt;div class="ExpBarText" style="left:20"&gt;([0-9]*?)&lt;\/div&gt;</value>
            </setting>
            <setting name="FindAllRankPercentRegex" serializeAs="String">
                <value>&lt;td background="/images/Themes/Halo2Stats/LevelBar.gif"&gt;&lt;img src="/images/spacer.gif" border="0" width="([0-9]*?)"</value>
            </setting>
            <setting name="FindAllGamesAndWinsRegex" serializeAs="String">
                <value>&lt;td align="center"&gt;&lt;span&gt;
									([0-9]*?)&lt;/span&gt;</value>
            </setting>
            <setting name="FindBetrayalsRegex" serializeAs="String">
                <value>&lt;td align="center" bgcolor="{0}"&gt;.+?&lt;span class="ContentText"&gt;(.*?)&lt;/span&gt;</value>
            </setting>
            <setting name="FindPlaylistInfoRegex" serializeAs="String">
                <value>&lt;p&gt;&lt;b&gt;&lt;font color="white"&gt;{0}&lt;\/font&gt;&lt;\/b&gt;&lt;br&gt;
(.*?)&lt;p&gt;&lt;\/p&gt;</value>
            </setting>
            <setting name="FindRankedRegex" serializeAs="String">
                <value>&lt;p&gt;Ranked: &lt;b&gt;([A-Z]*?)&lt;\/b&gt;</value>
            </setting>
            <setting name="PlaylistInfoUrl" serializeAs="String">
                <value>http://www.bungie.net/Stats/page.aspx?section=FAQInfo&amp;subsection=playlists&amp;page=1</value>
            </setting>
            <setting name="FindPlaylistDescriptionRegex" serializeAs="String">
                <value>&lt;span&gt;&lt;i&gt;(.*?)&lt;\/i&gt;&lt;\/span&gt;</value>
            </setting>
            <setting name="FindBetrayalsTableRegex" serializeAs="String">
                <value>&lt;div id="PlayerListCtrl_pldVs_rpPlayerList_ctl{0:00}_pnlVsDisplay" style="background-color:#154978;display:none;"&gt;(.*?)&lt;td id="PlayerListCtrl_pldVs_rpPlayerList_ctl</value>
            </setting>
            <setting name="FindClanRegex" serializeAs="String">
                <value>&lt;a href="/Stats/ClanStats.aspx?clan=(.*?)"&gt;</value>
            </setting>
            <setting name="FindAllCurrentPlaylistsRegex" serializeAs="String">
                <value>&lt;p&gt;&lt;b&gt;&lt;font color="white"&gt;(.*?)&lt;\/font&gt;&lt;\/b&gt;&lt;br&gt;
&lt;div class="RuleSmallTop"&gt;&lt;/div&gt;</value>
            </setting>
            <setting name="FindPlaceRegex" serializeAs="String">
                <value>&lt;td id="PlayerListCtrl_pldStats_rpPlayerList_ctl{0:00}_tdRank" style="text-align:left"&gt;&lt;span&gt;([0-9]*?)[a-z]*&lt;/span&gt;&lt;/td&gt;</value>
            </setting>
            <setting name="FindMedalTableRegex" serializeAs="String">
                <value>&lt;table id="PlayerListCtrl_pldMedals_rpPlayerList_ctl{0:00}_dlPlayerMedals" cellspacing="0" cellpadding="0" border="0"&gt;(.*?)&lt;td align="right" width="7" valign="bottom"&gt;&lt;img SRC="/images/Themes/Halo2Stats/CornerLowerRight.gif" width="7" height="7" border="0" alt=""&gt;&lt;/td&gt;</value>
            </setting>
        </H2Stats.Downloader.Properties.Settings>
        <H2Stats.Download.Properties.Settings>
            <setting name="OverviewBaseURL" serializeAs="String">
                <value>http://www.bungie.net/Stats/PlayerStats.aspx?player=</value>
            </setting>
            <setting name="GameListBaseURL" serializeAs="String">
                <value>http://www.bungie.net/Stats/PlayerGameList.aspx?player=</value>
            </setting>
        </H2Stats.Download.Properties.Settings>
    </applicationSettings>
</configuration>